<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Multiplayer Chess</title>

  <link rel="stylesheet" href="css/homepage.css" />

  <script src="js/homepage.js" defer></script>
</head>
<body>
	<header>
		<h1>Welcome to Multiplayer Chess</h1>
	</header>
	<main>
		<section>
			<button>Start New Game</button>
			<p>Initiate a game room and share the code with your opponent!</p>
		</section>
		<section>
			<button>Join A Game</button>
			<p>Someone already there? Enter the code and join the battle!</p>
		</section>
	</main>
	<footer>
		<p>Developed in Melbourne by <a target="_blank" href="https://karanshah0206.github.io">Karan Manoj Shah</a>.</p>
	</footer>
</body>
</html>
